<table id="preview-table" class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">Process</th>
        {% if data.technique == 'srtf' %}
            <th scope="col">Arrival Time</th>
        {% elif data.technique == 'priority' or data.technique == 'priority-rr' %}
            <th scope="col">Priority</th>
        {% endif %}
        <th scope="col">Burst Time</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="row mt-4">
    {% if data.technique == 'srtf' %}
        <div class="col">
            <input id="a-time" type="number" class="form-control" placeholder="Arrival Time">
        </div>
    {% elif data.technique == 'priority' or data.technique == 'priority-rr' %}
        <div class="col">
            <input id="priority" type="number" class="form-control" placeholder="Priority">
        </div>
    {% endif %}
    <div class="col">
        <input id="b-time" type="number" class="form-control" placeholder="Burst Time">
    </div>
    <div class="col">
        <button id="{% if data.technique == 'srtf' %}srtf-new-proc{% elif data.technique == 'priority' or data.technique == 'priority-rr' %}priority-new-proc{% else %}new-proc{% endif %}" class="btn btn-block btn-primary">Add New</button>
    </div>
</div>
<div  class="mt-4">
    <form id="proc-form" method="post">
        {% csrf_token %}
        <input id="process-list" type="hidden" name="process-list">
        {% if data.technique == 'rr' or data.technique == 'priority-rr' %}
            <div class="row">
                <div class="col">
                    <input id="q-time" name="q-time" type="number" class="form-control" placeholder="Quantumn Time">
                </div>
                <div class="col">
                    <button id="submit-inputs" type="button" class="btn btn-block btn-success">Submit</button>
                </div>
            </div>
        {% else %}
            <button id="submit-inputs" type="button" class="btn btn-block btn-success">Submit</button>
        {% endif %}
    </form>
</div>