<table id="result-table" class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">Process</th>
        {% if data.technique == 'srtf' %}
            <th scope="col">Arrival Time</th>
        {% elif data.technique == 'priority' or data.technique == 'priority-rr' %}
            <th scope="col">Priority</th>
        {% endif %}
        <th scope="col">Burst Time</th>
    </tr>
    </thead>
    <tbody>
        {% for process in data.result.values %}
            <tr>
                <th scope="row">{{ process.process }}</th>
                {% if data.technique == 'srtf' %}
                    <td>{{ process.arrival_time }}</td>
                {% elif data.technique == 'priority' or data.technique == 'priority-rr' %}
                    <td>{{ process.priority }}</td>
                {% endif %}
                <td>{{ process.burst_time }}</td>
            </tr>
        {% endfor %}
        {% if data.result.awt %}
            <tr><th colspan="{% if data.technique == 'srtf' or data.technique == 'priority' or data.technique == 'priority-rr' %}3{% else %}2{% endif %}">Average Waiting Time = {{ data.result.awt }} ms</th></tr>
        {% endif %}
    </tbody>
</table>