{% extends 'webapp/base.html' %}

{% block content %}
    <div class="container mt-5 pt-5">
        <h1 class="text-center text-light font-weight-bold">Pick your Poison</h1>
        <h3 class="text-center text-light">Select a Scheduling Technique to Use.</h3>
        <div class="row text-justify">
            <div class="col-sm-4 pt-5">
                <div class="card">
                    <div class="card-header font-weight-bold">First-Come, First-Served</div>
                    <div class="card-body sched-desc">
                        <p class="card-text">With this scheme, the process that requests the CPU first is allocated the CPU first. The implementation of the FCFS policy is easily managed with a FIFO queue. When a process enters the ready queue, its PCB is linked onto the tail of the queue.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'use_technique' 'fcfs' %}" class="btn btn-primary btn-block">Use FCFS</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-5">
                <div class="card">
                    <div class="card-header font-weight-bold">Shortest-Job-First</div>
                    <div class="card-body sched-desc">
                        <p class="card-text">This algorithm associates with each process the length of the process’s next CPU burst. When the CPU is available, it is assigned to the process that has the smallest next CPU burst. If the next CPU bursts of two processes are the same, FCFS scheduling is used to break the tie.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'use_technique' 'sjf' %}" class="btn btn-primary btn-block">Use SJF</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-5">
                <div class="card">
                    <div class="card-header font-weight-bold">Shortest-Remaining-Time-First</div>
                    <div class="card-body sched-desc">
                        <p class="card-text">Similar to shortest job first (SJF). With this strategy the scheduler arranges processes with the least estimated processing time remaining to be next in the queue. This requires advanced knowledge or estimations about the time required for a process to complete.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'use_technique' 'srtf' %}" class="btn btn-primary btn-block">Use SRTF</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-5">
                <div class="card">
                    <div class="card-header font-weight-bold">Round-Robin</div>
                    <div class="card-body sched-desc">
                        <p class="card-text">The round-robin (RR) scheduling algorithm is similar to FCFS scheduling, but preemption is added to enable the system to switch between processes. A small unit of time, called a time quantum or time slice, is defined. A time quantum is generally from 10 to 100 milliseconds in length.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'use_technique' 'rr' %}" class="btn btn-primary btn-block">Use Round-Robin</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-5">
                <div class="card">
                    <div class="card-header font-weight-bold">Priority</div>
                    <div class="card-body sched-desc">
                        <p class="card-text">Priority scheduling is a non-preemptive algorithm and one of the most common scheduling algorithms in batch systems. Each process is assigned a priority. Process with highest priority is to be executed first and so on. Processes with same priority are executed on first come first served basis.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'use_technique' 'priority' %}" class="btn btn-primary btn-block">Use Priority</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 pt-5">
                <div class="card">
                    <div class="card-header font-weight-bold">Priority with Round-Robin</div>
                    <div class="card-body sched-desc">
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'use_technique' 'priority-rr' %}" class="btn btn-primary btn-block">Use Priority with Round-Robin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
