{% extends 'webapp/base.html' %}

{% block content %}
    <div class="container-fluid mt-5 pt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>col-md-12</h1>
            </div>
            <div class="col-md-6">
                <h1>col-md-6</h1>
            </div>
            <div class="col-md-6">
                <h1>col-md-6</h1>
            </div>
        </div>
    </div>
{% endblock %}