{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid mt-5 pt-4">
        <h1 class="text-light text-center">{% include 'webapp/components/title.html' %}</h1>
        <div class="row">
            <div class="col-md-12 mt-4" style="min-height: 50px">
                {% if data.result.chart %}
                    {% autoescape off %}
                        {{ data.result.chart }}
                    {% endautoescape %}
                {% else %}
                    <h3 class="text-light text-center">Resulting Gantt Chart can be viewed here.</h3>
                {% endif %}
            </div>
            <div class="col-md-6 mt-4">
                {% include 'webapp/components/form.html' %}
            </div>
            <div class="col-md-6 mt-4">
                {% include 'webapp/components/table.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div id="invalid-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-light">
                    <h5 class="modal-title">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Invalid Input. Please try again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {{ data.result.points }}
    {{ data.result.values }}
{% endblock %}

{% block addscripts %}
    <script src="{% static 'js/script.js'%}"></script>
{% endblock %}
